$light   = 'HpLight'
$regular = 'HpRegular'
$bold    = 'HpBold'
$color   = #00B3E3
flexCenter()
	display flex
	display -webkit-flex
	align-items center
flexStart()
	display flex
	display -webkit-flex
	align-items start
flexEnd()
	display flex
	display -webkit-flex
	align-items flex-end
transitionAll()
	-webkit-transition all .3s linear
	-moz-transition all .3s linear
	-ms-transition all .3s linear
	-o-transition all .3s linear
	transition all .3s linear
transitionOpacity()
	-webkit-transition opacity .3s linear
	-moz-transition opacity .3s linear
	-ms-transition opacity .3s linear
	-o-transition opacity .3s linear
	transition opacity .3s linear
transitionWidth()
	-webkit-transition width .3s linear
	-moz-transition width .3s linear
	-ms-transition width .3s linear
	-o-transition width .3s linear
	transition width .3s linear
transitionMaxWidth()
	-webkit-transition max-width .3s linear
	-moz-transition max-width .3s linear
	-ms-transition max-width .3s linear
	-o-transition max-width .3s linear
	transition max-width .3s linear
transitionBgColor()
	-webkit-transition background-color .3s linear
	-moz-transition background-color .3s linear
	-ms-transition background-color .3s linear
	-o-transition background-color .3s linear
	transition background-color .3s linear
transitionTransform()
	-webkit-transition transform .2s linear
	-moz-transition transform .2s linear
	-ms-transition transform .2s linear
	-o-transition transform .2s linear
	transition transform .2s linear
absolute()
	position absolute
	top 0
	left 0
	right 0
	bottom 0
relative()
	position relative
	top 0
	left 0
	right 0
	bottom 0
body
	margin 0
	padding 0
	overflow hidden
	overflow-y scroll
	font-family $regular
	color #FFFFFF
	background-color #FFFFFF
img
	width 100%
p
	margin 0
	font-size 18px
label
	font-weight 100
a
	text-decoration none
	cursor pointer
	color #757575
	i
		vertical-align middle
	&:hover
		text-decoration none
	&.js-reporte
		color #4594D0
		i
			color #4594D0
.js-section
	position relative
	padding 40px 20px
.js-flex
	flexCenter()
.js-flex-wrap
	flexCenter()
	flex-wrap wrap
	justify-content center
.js-flex--start
	flexStart()
	justify-content center
.js-height
	height 100vh
	.js-fondo
		height 100vh
		&:BEFORE
			height 100vh
.js-header
	transitionAll()
	position fixed
	top 0
	width 100%
	z-index 1001
	padding 10px 25px
	color #FFFFFF
	background-color $color
	img
		width 100%
		max-width 50px
		margin-right 10px
	.js-header--left
		flexCenter()
		width 100%
		max-width 300px
		justify-content flex-start
	.js-header--right
		flexCenter()
		width 100%
		justify-content flex-end
		text-align right
.js-container
	transitionMaxWidth()
	height 100%
	width 100%
	max-width 1150px
	margin auto
	color #757575
.js-input
	margin 10px 0
	.form-control
		padding 6px 15px
		height 42px
		font-size 15px
		font-family $regular
		color #000000
.js-select
	.bootstrap-select
		width 100% !important
.js-span
	background-color #125AA2
	color #FFFFFF
	padding 3px 5px
	border-radius 50%
.js-button
	border-radius 5px
	text-transform initial
	color #FFFFFF
	font-family $regular
	font-size 16px
.js-usuarios--menu
	text-align center
	.js-button--usuario
		color #576372
		font-family $bold
		font-size 13px
		padding 0 10px
		box-shadow none
		background-color transparent !important	
.js-login
	width 100%
	max-width 400px
	margin auto
	color #000000
	text-align center
	h2
		color #576274
		font-size 28px
		line-height 30px
		margin 20px 0
	img
		max-width 300px
		margin-top 20px
	a
		margin-left 15px
		color #757575
	.js-button--login
		background-color #F15F43
		width 100%
		max-width 100px
	.js-radio
		margin-left 15px
		color #757575
.js-register
	img
		max-width 320px
		margin auto
	p
		font-size 24px
	.js-register__title
		h2
			font-size 24px
			margin 10px 0
			line-height 26px
	.js-button--login
		background-color #F15F43
		width 100%
		max-width 100px
.js-title
	text-align center
	border-bottom 3px solid #A4A1A1
	padding 20px 0
	h2
		font-size 28px
		line-height 30px
		margin 10px 0
		font-family $regular
	p
		font-size 16px
		line-height 16px
.js-menu
	padding 20px 0
	.js-button
	.js-form
	.js-select
		margin 0 5px
	.js-button
		&.js-configuracion
			background-color #1796D3
		&.js-preview
			background-color #23C0DA
	.js-form
		position relative
		.mdl-button
			position absolute
			top 1px
			right 1px
.js-subtitle
	h2
		font-size 20px
		line-height 22px
		margin 10px 0
		font-family $regular
.js-image
	border-radius 50%
	max-width 35px
	margin-right 10px
.js-usuarios
	border 1px solid #a4a1a1
	padding 10px
.js-template
	border 1px solid #a4a1a1
	padding 15px 10px 50px 10px
	text-align center
	.js-card
		transitionTransform()
		width 100%
		max-width 160px
		display inline-block
		background-color #FFFFFF
		border 1px solid #BEE0F6
		margin 3px
		&.js-transform
			z-index 10
			-webkit-transform scale(1.2)
			   -moz-transform scale(1.2)
			    -ms-transform scale(1.2)
			     -o-transform scale(1.2)
			        transform scale(1.2)
		.js-card__select
			margin 20px 0 10px 0	
.js-fechas
	border 1px solid #B7B5B5
	padding 20px
	.js-fecha
		flexCenter()
		border 1px solid #E9EFF4
		width 100%
		max-width 350px
		margin 5px
		justify-content flex-start
		padding 20px
		border-radius 5px
		.js-fecha__title
			text-align center
			h2
				color #1796D3
				font-size 42px
				line-height 38px
				margin 0
				font-family $regular
			span
				font-size 16px
		.js-fecha__contenido
			padding-left 20px
			h2
				font-size 18px
				line-height 20px
				margin 5px 0
				color #1A2755
				font-family $bold
			a
				color #97A3B4
.js-date
	margin 0 10px
.js-programados
	border-top 1px solid #b7b5b5
	border-bottom 1px solid #b7b5b5
.js-table
	height 350px
	overflow-y scroll
	border none
.mdl-card
	width 100%
.table-responsive
	border none	
	table
		&>thead
			&>tr
				&>th
					border none !important
					font-weight 100
		&>tbody
			&>tr
				&>td
					border none !important
					vertical-align middle !important
					position relative
.mdl-card__menu
	position absolute
	right 8px
	top 8px
.modal-dialog
	width 100%
	max-width 620px
/*SCROLL*/
::-webkit-scrollbar
	width 8px
	height 5px
::-webkit-scrollbar-track
	background-color transparent
	border-radius 10px
::-webkit-scrollbar-thumb
	background-color #AAAAAA
	border-radius 10px
@media (max-width : 600px)
	.js-login
		img
			max-width 200px